<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Form</h1>
    <form action="/" method="POST">
        <table>
            <% questions.forEach(question => { %>
                <tr>
                    <th colspan="2"><%= question.head %> </th>
                </tr>
                <tr>
                    <td><label for="<%=question.head%>">Yes</label><input type="radio" name="<%=question.head%>" id="Yes" value="Yes" required></td>
                    <td><label for="<%=question.head%>">No</label><input type="radio" name="<%=question.head%>" id="No" value="No" required></td>
                </tr>
            <% }) %>
        </table>
        <button type="submit">Submit form</button>
    </form>
</body>
</html>